<link rel="stylesheet" href="{{ "/assets/css/sidebar.css" | relative_url }}" media="screen and (min-width: 70em)">
<aside style="display: none">
    
<div class="sidebar-item">
    <div class="sidebar-personal-info">
      <div class="sidebar-personal-info-section sidebar-title">
          <h2>{{ site.title }}</h2>
      </div>
        
      <div class="sidebar-personal-info-section">
        <p class="sidebar-paragraph"> 
    {%- for item in site.external -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    {%- assign icon = item.icon | default: item.sidebaricon -%}
    <a aria-label="{{ title }}" href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
      <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
    </a>
    {%- endfor -%}            

        </p>
      </div>
      <div class="sidebar-personal-info-section">
        <img src="/assets/img/photo.png"/>
      </div>
      <div class="sidebar-personal-info-section">
          
        <p class="sidebar-bottom">
           theoretical physicist<br>
           works @ <a href="https://uj.edu.pl">Jagiellonian University</a><br>
           physics / math / ML / data
        </p>
      </div>
    </div>
  </div>
    
    
<!--   <div class="sidebar-item">
    <div class="sidebar-personal-info">
    <div class="sidebar-personal-info-section">
      <img src="assets/img/photo.png"/>
    </div>
    <div class="sidebar-personal-info-section"></div>
    <div class="sidebar-personal-info-section"></div>
        
  </div> -->
  <nav>
  {%- for item in site.navigation -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    {%- assign icon = item.icon | default: item.sidebaricon -%}
    <a aria-label="{{ title }}" href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
      <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
      <span aria-hidden="true">{{ title }}</span>
    </a>
  {%- endfor -%}
<!--   {%- for item in site.external -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    {%- assign icon = item.icon | default: item.sidebaricon -%}
    <a aria-label="{{ title }}" href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
      <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
      <span aria-hidden="true">{{ title }}</span>
    </a>
  {%- endfor -%} -->
  </nav>
</aside>
